/* Geral */ 

.container {
    width: 1200px;
    margin: 0 auto;
}

.container::before, .container::after {
    content: '';
    display: table;
    clear: both;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* Menu Navegaçao */

.menu {
    padding: 50px 0;
}

.menu-logo {
   display: block;
   float: left;
}

.menu-nav {
    float: right;
}


.menu-nav li {
    display: inline-block;
}

.menu-nav a {
    display: block;
    text-decoration: none;
    padding: 16px 0 16px 60px;
    color: #000;
}

/* Introdução */

.intro {
    display: inline-flex;
}

.intro-text {
    width: 520px;
    float: left;
    padding: 100px 60px 100px 0;
}

.intro-text h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    line-height: 1.4em;
    font-weight: bold;
    color: #070439;
}

.intro-text p {
    font-size: 16px;
    line-height: 1.4em;
    padding: 25px 0;
}

.intro-btn {
    width: 536px;
    float: left;
}

.intro-btn label{
    display: none;
}

.intro-btn input {
    box-sizing: border-box;
    width: 320px;
    border: 1px solid #000;
    border-radius: 4px;
    background: none;
    font-size: 14px;
    padding: 10px;
    float: left; 
    margin: 0 15px 0 0;
    outline: none;
}

.intro-btn button {
    background: #3065F8;
    border-radius: 4px;
    border: none;
    font-size: 14px;
    width: 200px;
    padding: 11px 0;
    color: #FFF;
    cursor: pointer;
    outline: none;
}


.intro-image img {
    width: 630px;
    float: right;
}

/* Produtos */

.bg img {
    width: 100%;
    padding: 130px 0 0 0;
}

.produto {
    background: #F8F8FE;
    margin-top: -4px;
    padding: 50px 0 100px 0;
}

.produto-text {
    width: 570px;
    float: left;
}

.produto-text h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    line-height: 1.4em;
    font-weight: bold;   
    color: #070439;
}

.produto-text p {
    font-size: 14px;
    line-height: 1.4em;
    padding: 25px 100px 0 0;
}

.produto-text a {
    font-size: 14px;
    color: #3C9F8F;
    padding: 10px 0;
}

.produto-text a img {
    width: 13px;
    display: inline-block;
    margin: -2px auto;
}

.produto-text a::after {
    content: '';
    display: block;
    width: 142px;
    height: 1px;
    background: #3C9F8F;
    margin: 4px 0;
}

.produto-image img {
    width: 550px;
    padding-top: 40px;
    float: right;
}


.acesso {
    background: #585989;
    padding: 100px 0 85px 0;
}

.acesso-text {
    width: 50%;
    float: left;
}

.acesso h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    line-height: 1.4em;
    font-weight: bold;   
    color: #FFF;
}

.acesso p {
    font-size: 14px;
    line-height: 1.4em;
    color: #BFBFDF; 
    padding: 20px 170px 0 0;
}

.acesso-form {
    width: 480px;
    float: right;
    margin: 15px;
}

.acesso-form label{
    display: none;
}

.acesso-form input {
    width: 450px;
    border: none;
    border-radius: 4px;
    color:  #BFBFBF;
    font-size: 10px;
    padding: 15px;
    float: left; 
    margin: 0 0 12px 0;
    outline: none;
}

.acesso-form button {
    background: #3065F8;
    border-radius: 4px;
    border: none;
    font-size: 14px;
    width: 200px;
    padding: 11px 0;
    color: #FFF;
    cursor: pointer;
    outline: none;
}

footer {
    padding-top: 80px;
    background: #070439;
}

.rodape-item {
    font-size: 14px;
    color: #BFBFDF;
    padding: 15px 0;
}

.rodape-item li {
    padding: 4px;
}

.rodape-item img {
    width: 10px;
    margin: 0 10px 0 0;
}

.attribution {
    text-align: center;
    padding: 30px;
    font-size: 14px;
    color: #BFBFDF;
}




